body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
}

.contour {
    padding: 20px;
    background-color: #e3f2fd; 
}

.container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 4px;
    border-radius: 171px;
    box-shadow: 0 0 6px rgb(34 97 163);
    border: solid 3px #005b96;
}
.container header{
    border-radius: 187px;
    padding-bottom: 20px;
    margin-bottom: 44px;
}
.container header h1{
    font-size: 40px;
    margin: -4px 64px;
    padding: 11px;
}
.container header p{
    margin: -16px 241px;
    font-size: 10px;
}
header {
    background: #005b96;
    text-align: left;
    border-bottom: 2px solid #005b96;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.photo {
    margin: 0 auto 10px;
    border-radius: 50%;
    overflow: hidden;
    width: 190px;
    height: 200px;
    position: absolute;
    top: 32px;
    right: 200px;
}
h1 {
    color: #ffffff;
    font-size: 36px;
    margin: 10px 0;
}

header p {
    font-size: 18px;
    color: #ffffff;
}

.profile, .details {
    margin-bottom: 20px;
}

h2 {
    color: #03396c; 
    font-size: 21px;
    border-bottom: 5px solid #005b96;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}
.fas.fa-code {
    font-weight: 01;
    font-family: Arial, sans-serif
}

.details {
    display: flex;
    justify-content: space-between;
    margin: 6px;
    background: #e9e9e947;
}

.column {
    flex: 1;
    padding: 5%;
    font-family: Arial, sans-serif;
}

.column:not(:last-child) {
    margin-right: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    color: #005b96; 
}

a {
    color: #03396c; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
